.search-wrapper
  .chatapp-logo
    %span.google.logo-c C
    %span.google.logo-h h
    %span.google.logo-a a
    %span.google.logo-t t
    %span.google.logo-A A
    %span.google.logo-p p
    %span.google.logo-p2 p
  %h2 Let's search your friends!
#react-search
