.message-box {
  &__list {
    position: absolute;
    top: 60px;
    left: 300px;
    right: 0;
    bottom: 67px;
    padding: 10px 30px 5px;
    overflow-y: scroll;
    height:640px;
  }

  &__item {
    padding: 5px;
    &__contents {
      background: rgba(0, 0, 0, 0.08);
      float: left;
      font-size: 14px;
      font-weight: 400;
      border-radius: 10px;
      padding: 10px 15px;
      position: relative;
    }

    p{
      margin:0;
    }

    .fa-trash-alt {
      display: none;
    }

    &--from-current {
      .message-box__item__contents {
        float: right;
        background: #218CB9;
        color: #fff;
      }
      img.icon_by_message{
        display: none;
      }
      p{
        display: none;
      }
      .fa-trash-alt {
        color: gray;
        display:inline-block;
        float: right;
        cursor: pointer;
        margin: 2px 5px 0 0;
      }
    }

    &--read {
      .message-box__item__contents {
        background: none;
        padding: 4px 0;
        font-size: 12px;
        color: rgba( 0, 0, 0, 0.8 );
        font-weight: bold;
        float: right;
      }
    }
  }

  .reply-box {
    position: absolute;
    left: 300px;
    bottom: 0;
    right: 0;
  }

  .image_message{
    width: 250px;
    height: 250px;
  }
}
